.page.theme_light {
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --decor-color: #353430;
  --heder__decor-color: transparent;
  --color-title: #FFC2E6;
  --color-title-shadow:#FF8DCB;
  --color-button:#353430;
  --heder__text-color:var(--decor-color);
  --background-text-color: #FF8DCB;
  --title-color:var(--decor-color);
  --name-color:var(--decor-color);
  --text-color:var(--decor-color);
  --text-shadow-color:var(--color-title-shadow);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --decor-color: #353430;
    --heder__decor-color: transparent;
    --color-title: #FFC2E6;
    --color-title-shadow:#FF8DCB;
    --color-button:#353430;
    --heder__text-color:var(--decor-color);
    --background-text-color: #FF8DCB;
    --title-color:var(--decor-color);
    --name-color:var(--decor-color);
    --text-color:var(--decor-color);
    --text-shadow-color:var(--color-title-shadow);
  }
}