:root {
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --decor-color: #ff0070;
  --heder__decor-color: var(--decor-color);
  --color-button-hover: rgba(255, 0, 112, 0.4);
  --color-button: var(--decor-color);
  --color-button_active: rgba(255, 0, 112, 1);
  --color-title: #db00ff;
  --color-title-shadow: var(--decor-color);
  --heder__text-color: #000000;
  --background-text-color: var(--decor-color);
  --title-color: var(--decor-color);
  --name-color: var(--background-color);
  --text-color: #f1b2ce;
  --heder__text-referens: rgba(241, 178, 206);
  --text-shadow-color: var(--decor-color);
}
