:root {
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --decor-color: #FF0070;
  --heder__decor-color:var(--decor-color);
  --color-button:var(--decor-color);
  --color-title: #DB00FF;
  --color-title-shadow:var(--decor-color);
  --title-color:var(--decor-color);
  --heder__text-color: #000000;
  --name-color:var(--background-color);
  --background-text-color: var(--decor-color);
  --text-shadow-color:var(--decor-color);
}